.hour,
.minute,
.second {
  max-width: 300px;
  margin: 15px;
}
.timer__button {
  width: 80px;
}

.timer {
  font-size: 100px;
}
span,
.hourTime,
.minuteTime,
.secondTime {
  font-size: 100px;
  color: #0dcaf0;
}
span {
  margin: 0 4px;
}

.startBtn,
.pauseBtn,
.stopBtn,
.resetBtn {
  margin: 0 5px;
}
h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 80px;
}
